<?xml version="1.0" encoding="UTF-8"?>


<launch>
	<arg name="rtcm_topic" default="/rtcm" />
	<arg name="host" default="localhost" />
	<arg name="port" default="2101" />
	<arg name="user" default="anon" />
	<arg name="pass" default="password" />
	<arg name="mount" default="pygnssutils" />
	<arg name="nmea_gga"
		default="$GPGGA,193912.090,5701.452,N,00956.683,E,1,12,1.0,0.0,M,0.0,M,,*61" />
		
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
		<param name="rtcm_topic" value="$(arg rtcm_topic)" />
		<param name="ntrip_server" value="$(arg host):$(arg port)" />
		<param name="ntrip_user" value="$(arg user)" />
		<param name="ntrip_pass" value="$(arg pass)" />
		<param name="ntrip_stream" value="$(arg mount)" />
		<param name="nmea_gga" value="$(arg nmea_gga)" />
	</node>
</launch>